<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Design System for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>FOODQL - Find Unique Foods</title>
  <!-- Favicon -->
  <link href="/static/assets/img/icons/foodql.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/static/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="/static/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="/static/assets/css/argon.css?v=1.0.1" rel="stylesheet">
</head>

<body>
  <header class="header-global">
    <div class="container-custom">
      <div class="p-3">
        <div class="p-3">
		<a class="navbar-brand" href="/search">
		    <img src="/static/assets/img/icons/header_logo.png" style="height: 120px">
		  </a>
		</div>
	  </div>      
    </div>
  </header>
  <main>
    <section class="bg-search2">
      <div class="container-custom">
        <div class="col-sm-12 offset-sm-2 col-lg-6 offset-lg-3">
          <h2 class="font-weight-bold" style="text-align: center;color: #0B5504;">Search your city below</h2>
          <br/>          
          <form action="{{ url_for('handle_data') }}" method="post">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for..." name="daerah">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Go!</button>
              </span>
            </div><!-- /input-group -->
          </form>
		  <br/>
		  <h3 class="text-muted" style="text-align: center;">Or</h3>
		  <h2 class="font-weight-bold" style="text-align: center;color: #0B5504;">Choose from the area below</h2>
        </div>
       <div class="container-custom">
        <div class="row pt-4">
          <div class="col-sm-12 col-lg-2 offset-lg-2">
            <a href="/sumatera">
              <img src="/static/assets/img/indo/Sumatera.png" class="w-100">
            </a>
          </div>
          <div class="col-sm-12 col-lg-2 pt-2">
            <a href="/kalimantan">
              <img src="/static/assets/img/indo/Kalimantan.png" class="w-100">
            </a>
          </div>
          <div class="col-sm-12 col-lg-2 pt-5">
            <a href="/sulawesi">
              <img src="/static/assets/img/indo/Sulawesi.png" class="w-50">
            </a>
          </div>
          <div class="col-sm-12 col-lg-2">
            <a href="/maluku_papua">
              <img src="/static/assets/img/indo/Maluku_Papua.png" class="w-100">
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-lg-2 offset-lg-4">
            <a href="/jawa">
              <img src="/static/assets/img/indo/jawa.png" class="w-75">
            </a>
          </div>
          <div class="col-sm-12 col-lg-2">
            <a href="/bali_nusa_tenggara">
              <img src="/static/assets/img/indo/Bali_Nusa_Tenggara.png" class="w-75">
            </a>
          </div>          
        </div>
       </div>         
      </div>
    </section>
  </main>
  <footer class="footer-custom">
    <div class="container-custom">
      <p class="text-muted" style="text-align: center;">Created by <strong>KELOMPOKKU</strong> <br/>2018</p>
    </div>
  </footer>

  <!-- Core -->
  <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/static/assets/vendor/popper/popper.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="/static/assets/vendor/headroom/headroom.min.js"></script>
  <!-- Optional JS -->
  <script src="/static/assets/vendor/onscreen/onscreen.min.js"></script>
  <script src="/static/assets/vendor/nouislider/js/nouislider.min.js"></script>
  <script src="/static/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <!-- Argon JS -->
  <script src="/static/assets/js/argon.js?v=1.0.1"></script>
</body>

</html>